<h2>Agendamento de Transferência</h2>

<form (ngSubmit)="agendarTransferencia()" #formAgendamento="ngForm">
  <div>
    <label>Documento de Origem:</label>
    <input type="number" name="documentoOrigem" [(ngModel)]="agendamento.documentoOrigem" required />
  </div>

  <div>
    <label>Documento de Destino:</label>
    <input type="number" name="documentoDestino" [(ngModel)]="agendamento.documentoDestino" required />
  </div>

  <div>
    <label>Data do Agendamento:</label>
    <input type="date" name="dataAgendamento" [(ngModel)]="agendamento.dataAgendamento" required />
  </div>

  <div>
    <label>Valor da Transferência:</label>
    <input type="number" name="valor" [(ngModel)]="agendamento.valor" required min="0"/>
  </div>

  <button type="submit" [disabled]="formAgendamento.invalid">Agendar</button>
</form>

